﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a cross platform application which logs an employee's attendance. 
    The employee would be required to sign-in, log a task name, <br>
    start time and end time for the each task. 
    The employee would also be able to view a report of their log.</p>
