﻿@model IEnumerable<AttendanceData.Entities.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.User)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (User.IsInRole("Admin"))
        {
            
            foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.DepartmentId)
                    </td*@>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaritalStatus)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>*@
                    <td>
                        <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                        <a  class="btn btn-default btn-sm active" role="button" aria-pressed="true"  asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                        <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                    </td>
                </tr>
            }

        }
        else
        {

        }
    </tbody>
</table>
