﻿@model Attendance.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="RememberMe" /> @Html.DisplayNameFor(model=>model.RememberMe)
                    </label>
                </div>
                @*<label asp-for="RememberMe" class="control-label"></label>*@
            </div>

            <div class="form-group">
                <input value="Login" type="submit" class="btn btn-default"/>
                @*<button type="submit" value="Login" class="btn btn-primary"></button>*@
                @*<input type="button" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" />*@
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}