﻿@model IEnumerable<AttendanceData.Entities.TaskTodo>

@{
    ViewData["Title"] = "Index";
}

<h2>Task</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Edit" asp-route-id="@item.TaskTodoID">Edit</a> |
                <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Details" asp-route-id="@item.TaskTodoID">Details</a> |
                <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.TaskTodoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
