﻿@if (User.Identity.IsAuthenticated)
{
    <div class="top-right">
        @*<span>Hello @User.Identity.Name</span>*@
        <form asp-controller="Account" asp-action="Logout" asp-antiforgery="true" class="text-right">
            @*<input class="btn btn-default" type="submit" value="Logout" />*@
            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li><a class="control-label">Hello, @User.Identity.Name</a></li>
                    <li><button type="submit" class="btn navbar-btn btn-light" name="logout" value="Log Out">Log Out</button></li>
                </ul>
            </div>
        </form>
    </div>
    

    @*<form asp-action="Logout" asp-controller="Account" asp-antiforgery="true" method="post">*@
    @*<ul class="nav navbar-nav navbar-right" >
            <li><a class="control-label">Hello, @User.Identity.Name</a></li>
            <li><a class="control-label" asp-controller="Account" asp-action="Logout" >Logout</a></li>
        </ul>*@

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="control-label" asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a class="control-label" asp-controller="Account" asp-action="Register">Register</a></li>
    </ul>

}
