﻿@model Attendance.Models.EmployeeTaskModel;

@{
    ViewData["Title"] = "Add Task";
}



<h4>Employee Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" form-group">
                <input type="hidden" asp-for="TaskTodoId" asp-items="@(new SelectList(ViewBag.TaskTodo, "TaskTodoID", "Type"))"/>
            </div>
            <div class="form-group">
                <label asp-for="TaskType" class="control-label"></label>
                <select asp-for="TaskType" class="form-control"  asp-items="@(new SelectList(ViewBag.TaskTodo, "Type", "Type"))">
                    <option value="">Select Task</option>
                </select>
                <span asp-validation-for="TaskType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <select asp-for="EmployeeID" class="form-control" asp-items="" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" asp-action="Create" asp-controller="EmployeeTask"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
