﻿@using Attendance.Models

@model EmployeeTaskModel

@{
    ViewData["Title"] = "Employee Task";
}

<h2>Employee Task</h2>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (!User.IsInRole("Admin"))
        {
            @foreach (var item in Model.employeeTasks.Where(x => x.UserId == ViewBag.UserID).Where(x=>x.IsComplete == false))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsComplete)
                        </td>*@
                    @*<td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>*@
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.employeeTasks.Where(x=>x.IsComplete==false))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IsComplete)
                    </td>*@
                    <td>
                        <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a class="btn btn-default btn-sm active" role="button" aria-pressed="true" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@*@{var index = Attendance.Misc.PaginatedList<EmployeeTaskModel>.PageIndex + 1 }
<a class="btn" asp-action="Index" asp-route-page="@(Attendance.Misc.PaginatedList<EmployeeTaskModel>.PageIndex)"></a>*@